body{
  background-color: #e4e1e1;
  max-width: 960px;
  margin: 0 auto;
}

#nav {
  list-style-type: none;
  background-color: #fff;
  height: 75px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  border-bottom: 2px solid #cccccc;
}

.nav-items{
  width: 960px;
  margin: 0 auto;
}

.name{
  background-color: #4aaaa5;
  color: #fff;
  height: 54px;
  width: 200px;
  font-weight: bold;
  font-size: xx-large;
  float: left;
  display: block;
  padding-top: 21px;
  padding-left: 18px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.contact{
  float: right;
  display: block;
  padding: 10px;
  padding-top: 25px;
  color: #aca9a9;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.portfolio{
  float: right;
  display: block;
  padding: 10px;
  padding-top: 25px;
  color: #aca9a9;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.about{
  float: right;
  display: block;
  padding: 10px;
  padding-top: 25px;
  color: #aca9a9;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1{
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #4aaaa5
}

hr{
  border: 1px solid #cccccc;
}

#main-section{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  padding: 25px;
  margin-top: 150px;
}

.image{
  width:150px;
  height: auto;
  float: left;
  transform:rotate(90deg);
}

.p1{
  margin-left: 19%;
  color: #777777
}

.p2{
  padding-top: 15px;
  color: #777777
}

.p3{
  padding-top: 15px;
  color: #777777
}

footer{
  background-color:#666666;
  color:#fff;
  text-align: center;
  padding-top: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  border-top: 8px solid #4aaaa5;
  height: 50px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text-1] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 300px;
}

input[type=submit] {
  width: 100px;
  background-color: #4aaaa5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #057e78;
}

.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  height: 250px;
  margin-left: 95px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.overlay {
  padding: 15px;
  text-align: center;
}




@media screen and (max-width: 980px) {
  #nav{
    z-index: 100;
  }

  .nav-items{
    float: none;
    width: 100%;
    margin: 0 auto;
    position: sticky;
  }

  .name{
    margin-left: 20px;
  }

  .contact{
    float: right;
    padding-top: 25px;
    margin-right: 12px;
  }
  
  .portfolio{
    text-align: center;
    padding-top: 25px;
  }
  
  .about{
    padding-top: 25px;
  }
  
    #main-section{
    margin-top: 135px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
  }

  .image{
    float: left;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .p1{
    float: none;
    margin-left: 22%;
    word-wrap: break-word;
    padding-right: 15px;
}
  

  .p2{
    float: left;
    width: 100%;
    margin: 0 auto;
  }

  .p3{
    float: left;
    width: 100%;
    margin: 0 auto;
  }

  footer{
    width: 100%;
    margin: 0 auto;
    position: static;
  }

  .gallery {
    margin-left: 95px;
  }

}

@media screen and (max-width: 768px) {
  #nav{
    z-index: 100;
  }

  .nav-items{
    float: none;
    width: 100%;
    margin: 0 auto;
    position: sticky;
  }

  .name{
    margin-left: 20px;
  }

  .contact{
    float: right;
    padding-top: 25px;
    margin-right: 12px;
  }
  
  .portfolio{
    text-align: center;
    padding-top: 25px;
  }
  
  .about{
    padding-top: 25px;
  }
  
    #main-section{
    margin-top: 135px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
  }

  .image{
    float: left;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 14px;
  }

  .p1{
    float: none;
    margin-left: 33%;
    word-wrap: break-word;
    padding-right: 15px;
}
  

  .p2{
    width: 100%;
    margin: 0 auto;
  }

  .p3{
    width: 100%;
    margin: 0 auto;
  }

  footer{
    width: 100%;
    margin: 0 auto;
    position: static;
  }

  .gallery {
    margin-left: 95px;
    width: 200px;
    height: 200px;
  }

  
}

@media only screen and (max-width: 640px) {
  
  #nav{
    height: 115px;
    z-index: 100;
  }

  .nav-items{
    float: none;
    width: 100%;
    margin: 0 auto;
    position: sticky;
  }

  .name{
    float: none;
    width: 100%;
    text-align: center;
    margin-left: 0px;    
  }

  .contact{
    float: right;
    width: 30%;
    padding-top: 13px;
  }
  
  .portfolio{
    text-align: center;
    width: 30%;
    padding-top: 13px;
  }
  
  .about{
    padding-top: 13px;
  }
  
    #main-section{
    margin-top: 135px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
  }

  .image{
    float: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .p1{
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  .p2{
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  .p3{
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  footer{
    width: 100%;
    margin: 0 auto;
    position: static;
  }
  
  .gallery {
    width: 500px;
    height: 400px;
    margin-left: 33px;
  }

}









